<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Flicker Test</title>
<style>
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .bg-test {
        width: 100%;
        height: 100vh;
background-image: url("file:///E:/Proffas/projectstrails/AI_Resume_Screener/static/images/ai-bg.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #674747;
    }
</style>
</head>
<body>

    <div class="bg-test"></div>

</body>
</html>